# User/Group IDs for file permissions
PUID=1000
PGID=1000

# Site domain
SITE_DOMAIN=localhost

# Git source (MODX repo)
MODX_GIT_REPO=https://github.com/modxcms/revolution.git
MODX_GIT_BRANCH=v3.0.5-pl

# Database
MYSQL_HOST=mysql
MYSQL_DATABASE=modx
MYSQL_USER=modx
MYSQL_PASSWORD=modx
MYSQL_ROOT_PASSWORD=root
MYSQL_TABLE_PREFIX=modx_

# MODX admin
MODX_ADMIN_USER=admin
MODX_ADMIN_PASSWORD=admin123
MODX_ADMIN_EMAIL=admin@localhost
